modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 20730
externalPort = 3000

[[ports]]
localPort = 21706
externalPort = 3003

[[ports]]
localPort = 22800
externalPort = 3001

[userenv]

[userenv.shared]
PORT = "8080"
BASE_PATH = "/"
UNIPILE_HOST = "api19.unipile.com:14946"
ADMIN_EMAIL = "rimeshstark20@gmail.com"
ADMIN_PASSWORD_HASH = "$2b$12$AE3TM6O2SuQ6h4KLQ4bNWuRWirw/vfeTRZYKCR6wUYQzOEbnJxSSC"
ADMIN_JWT_SECRET = "xanda-admin-jwt-secret-2024"
UNIPILE_WEBHOOK_URL = "https://032da017-d99d-4e40-8699-05911dd3862e-00-3bbkwzqqdho12.sisko.replit.dev/api/webhooks/unipile"

[nix]
channel = "stable-25_05"
